<div id="content-in-columns">
<div class="content-column content-left"><h1>Editing Alarm</h1></div>

<div class="content-column content-center"><%= render 'form', alarm: @alarm %></div>

<div class="content-column content-right">
<%= link_to 'Back', alarms_path %></div>
</div>