<div id="footer">
    <div id="warning">
        <img class="warning" src=<%= image_path("advertencia.svg") %> alt="warning">
        <div>
            <p>Your device must be turned on and connected to the internet</p>
        </div>
    </div>

    <div id="info">
        <% if current_user %>
            <%= link_to "Logout", logout_path, method: :delete ,  class: "button btn-black logout" %>
        <% end %>
    </div>
</div>


