@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.otf');
 }

 @font-face {
    font-family: 'LCDMB';
    src: url('LCDMB___.ttf');
 }

.center ul {
    padding:25px 0;
} 
li {
    display: inline-block;
}
.page {
    border-top:10px solid black;
}
.btn {
    border: 1px black solid;
    padding: 18px 30px;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    margin: 0px 10px;
}

.btn-black {
    background-color: black;
    color:white;
    font-weight:800;
}

a {
    text-decoration: none;
}

.clock {
    font-family: 'LCDMB', sans-serif;
    text-transform: uppercase;
}
#clock {
    font-size: 115px;
    padding:25px 0;
    
}
#date {
    font-size: 38px;
    padding:25px 0;

}
#ampm {
    font-size: 60px;
}
.center {
    padding: 70px 0;
    text-align: center;
  }