@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.otf');
 }

 @font-face {
    font-family: 'LCDMB';
    src: url('LCDMB___.ttf');
 }


.center ul {
    padding:25px 0;
} 
li {
    display: inline-block;
}
.page {
    border-top:10px solid black;
    padding:25px 50px;
}
.btn {
    border: 1px black solid;
    padding: 1.1em 1.6em;
    display: inline-block;
    border-radius: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    margin: 0px 10px;
    font-size: 13px;
}

.btn-black {
    background-color: black;
    color:white;
    font-weight:800;
}

a {
    text-decoration: none;
}

.clock {
    font-family: 'LCDMB', sans-serif;
    text-transform: uppercase;
}
#clock {
    font-size: 90px;
    padding:15px 0;
    
}
#date {
    font-size: 30px;
    padding:25px 0;

}
#ampm {
    font-size: 50px;
}
.center {
    padding: 190px 0 130px;
    text-align: center;
  }
#header {
    
}
#header .logo {
    width: 175px;
}

#footer {
    height: 40px;
    margin:10px;
}

#footer img {
    height: 40px;
}


#warning, #info {
    display: inline-block;
}
#warning * {
    display: inline-block;
}
#info {
    float:right;
}
#warning p {
    position: relative;
    bottom: 10px;
    left:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    
}

.logout {
    font-size: 12px;
}